<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:ck="http://www.checkinone.com">

<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row">
			<div class="col-lg-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Usuários</h4>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Nome</th>
										<th>E-Mail</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${#lists.isEmpty(usuarios)}">
		                             	<td colspan="4"><i>Nenhum usuário cadastrado.</i></td>
		                             </tr>
									<tr th:each="usuario, itr : ${usuarios}">
										<td th:text="${itr.index + 1}">1</td>
										<td th:text="${usuario.nome}">Herman Beck</td>
										<td th:text="${usuario.email}">usuario@e-mail.com</td>
										<td class="table-col-acoes">
											<a class="badge badge-primary" th:href="@{/usuario/{id}(id=${usuario.id})}" title="Alterar">
												<i class="fa-regular fa-pen-to-square"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>