<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
    <ul class="nav">
      <li class="nav-item" th:classappend="${servletPath.equals('/')} ? active">
        <a class="nav-link" th:href="@{/}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" th:classappend="${servletPath.contains('/hotel')} ? active" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">			
			<i class="fa-regular fa-hospital menu-icon"></i>
          <span class="menu-title">Hotel</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" th:href="@{/hotel}">Lista</a></li>
            <li class="nav-item"> <a class="nav-link" th:href="@{/hotel/cadastro}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.contains('/quarto')} ? active" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
		  <i class="fa-solid fa-bed menu-icon"></i>
          <span class="menu-title">Quarto</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/quarto}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/quarto/cadastro}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.contains('/hospede')} ? active" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_FUNCIONARIO')">
        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">          
		  <i class="fa-solid fa-users-viewfinder menu-icon"></i>
          <span class="menu-title">Hóspede</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/hospede}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/hospede/cadastro}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.contains('/reserva')} ? active" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_FUNCIONARIO')">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">          
		  <i class="icon-contract menu-icon"></i>
          <span class="menu-title">Reserva</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/reserva}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/reserva/cadastro}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.contains('/funcionario')} ? active" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="fa-regular fa-id-badge menu-icon"></i>
          <span class="menu-title">Funcionário</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/funcionario}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/funcionario/cadastro}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.contains('/usuario')} ? active" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Usuário</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/usuario}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/usuario/cadastrar}">Cadastro</a></li>
          </ul>
        </div>
      </li>
    </ul>
</nav>
</html>