<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
    <ul class="nav">
      <li class="nav-item" th:classappend="${servletPath.equals('/')} ? active">
        <a class="nav-link" th:href="@{/}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" th:classappend="${servletPath != null && servletPath.startsWith('/hotel')} ? active" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" data-toggle="collapse" href="#hotel" aria-expanded="false" aria-controls="hotel">			
			<i class="fa-regular fa-hospital menu-icon"></i>
          <span class="menu-title">Hotel</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="hotel">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" th:href="@{/hotel}">Lista</a></li>
            <li class="nav-item"> <a class="nav-link" th:href="@{/hotel/cadastrar}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.startsWith('/quarto')} ? active : ''" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" data-toggle="collapse" href="#quarto" aria-expanded="false" aria-controls="quarto">
		  <i class="fa-solid fa-bed menu-icon"></i>
          <span class="menu-title">Quarto</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="quarto">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/quarto}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/quarto/cadastrar}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.startsWith('/hospede')} ? active" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_FUNCIONARIO')">
        <a class="nav-link" data-toggle="collapse" href="#hospede" aria-expanded="false" aria-controls="hospede">          
		  <i class="fa-solid fa-users-viewfinder menu-icon"></i>
          <span class="menu-title">Hóspede</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="hospede">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/hospede}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/hospede/cadastrar}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.startsWith('/reserva')} ? active" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_FUNCIONARIO')">
        <a class="nav-link" data-toggle="collapse" href="#reserva" aria-expanded="false" aria-controls="reserva">		  
		  <i class="fa-regular fa-rectangle-list menu-icon"></i>
          <span class="menu-title">Reserva</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="reserva">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/reserva}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/reserva/cadastrar}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.startsWith('/funcionario')} ? active" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <a class="nav-link" data-toggle="collapse" href="#funcionario" aria-expanded="false" aria-controls="funcionario">
          <i class="fa-regular fa-id-badge menu-icon"></i>
          <span class="menu-title">Funcionário</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="funcionario">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/funcionario}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/funcionario/cadastrar}">Cadastro</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" th:classappend="${servletPath.startsWith('/usuario')} ? active" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Usuário</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
			<li class="nav-item"> <a class="nav-link" th:href="@{/usuario}">Lista</a></li>
			<li class="nav-item"> <a class="nav-link" th:href="@{/usuario/cadastrar}">Cadastro</a></li>
          </ul>
        </div>
      </li>
    </ul>
</nav>
</html>